<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>NASA APOD - Foto Astronômica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

</head>
<body>
    <div class="container">
        <h1>NASA Astronomy Picture of the Day</h1>
        <p>Descubra qual foto incrível a NASA tirou no dia do seu nascimento!</p>
        
        <form action="/buscar" method="POST">
            <label for="data_nascimento">Selecione sua data de nascimento:</label>
            <input type="date" id="data_nascimento" name="data_nascimento" required>
            <button type="submit">Buscar Foto</button>
        </form>
    </div>
</body>
</html>